<div class="login-wrapper">
  <div class="login-form">
    <div class="login-image-container">
      <%= svg 'travel-bg-1' %>
    </div>
    <div>
      <div class="login-card">
        <h1><%= t('layout.nav.login') %></h1>
        <%= form_tag(sessions_path) do %>
          <div class="mb-6">
            <%= label_tag t('helpers.label.session.email'), nil %>
            <div>
              <%= text_field_tag :email, nil, class: 'input', placeholder: 'user@untiez.com' %>
            </div>
          </div>
          <div class="mb-6">
            <%= label_tag t('helpers.label.session.password'), nil, class: '' %>
            <div>
              <%= password_field_tag :password, nil, class: 'input' %>
            </div>
          </div>
           <div class="mt-6 flex flex-col items-center">
             <div class="mb-6">
               <%= submit_tag t('layout.nav.signin'), class: 'btn--black' %>
             </div>
             <%= link_to signup_path, class: 'text-sm flex flex-col items-center' do %>
              <%= t('layout.text.no_account') %><span class="font-bold"> <%= t('layout.nav.signup') %></span>
             <% end %>
           </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
