<a class="user-card" href="<%= url %>">
  <div class="relative">
    <% if avatar_upload.present? %>
      <img src="<%= avatar_upload %>" alt="<%= firstname %> <%= lastname %> - profile picture" class="avatar">
      <% else %>
        <%= image_tag avatar, :class => "avatar" %>
    <% end %>
    <% if verified %>
      <span class="verified">
        <%= svg 'verified' %>
      </span>
    <% end %>
  </div>
  <div class="user-info">
    <p><span><%= firstname %></span> <%= lastname %></p>
  </div>
</a>
